.list>div:nth-child(2) {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  
}

.list>div:nth-child(2)  li,a{
text-decoration: none;
list-style: none;
color: black;
cursor: pointer;
  
}

.list {
  display: flex;
  gap: 300px;

}

img {
display: block;
margin: auto;
max-width: 100%;
}